@charset "gb2312";
/* CSS Document */
#content_3{ width:991px;margin-bottom:20px; padding-bottom:59px; float:left;}
#fcm_2{ width:971px; padding:4px 9px 0 9px;}
#fcm_2_left{ width:238px; height:511px;  line-height:26px; float:left; border:1px solid #cacaca;background:url(../images/index_39.jpg) no-repeat 9px 38px;}
#fcm_2_left dt{ width:228px; height:28px; font-size:14px; font-weight:bold; padding-left:8px; border:1px solid #fff; background:#ececec;}
#fcm_2_left dd{ width:205px; height:34px; line-height:34px; padding-left:32px;font-weight:bold; border-top:1px solid #e1e1e1; }
#fcm_2_left dd a{ color:#333;}
#fcm_2_left dd a:hover{ color:#f5990a;}

#fcm_2_right{ width:715px; height:511px; float:left; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
#fcm_2_right_1{ width:715px; height:290px; border-bottom:1px dashed #c6c6c6; padding:0 0 0 0;}
#tw{ width:294px; height:290px; float:left;}
#tw dt{ width:294px; height:29px; font-size:14px; font-weight:bold; padding-top:64px; background:url(../images/index_45.jpg) no-repeat 81px 20px;}
#tw dd{ width:274px; padding-left:10px;}
#tw dd img{ margin-bottom:12px;}

#fcm_2_right_2{ width:715px; height:200px; float:left; padding:5px 0 0 10px; line-height:24px;}
 .strpng{color:#ea952f; font-size:14px;}

.tjwt .btn{ width:133px; height:41px;background:url(../images/help/tjwt.jpg) no-repeat  }


.user_m {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dddddd;
    float: left;
    margin-left: -1px;
    padding: 10px;
    width: 695px;
}

.step1 dl {
    border: 1px solid #dddddd;
    margin-bottom: 12px;
}
.step1 dt {
    background: url(../images/i1.png) no-repeat scroll 10px -74px #F8FBFF;
    border-bottom: 1px solid #dddddd;
    height: 28px;
    line-height: 28px;
    padding-left: 30px;
}
.step1 dd {
    background: url(../images/i1.png) no-repeat scroll 10px -107px #EEF5FE;
    padding: 15px;
    text-indent: 20px;
	height:45px;
}


/* CSS Document */
ul,li,p,img,a,span{border:none; list-style-type:none; margin:0; padding:0;}
a{text-decoration:none;}
img { -moz-force-broken-image-icon:1; }
a.gred,.game_center_list li a {color: #6d6d6d;text-decoration: none;} 
a.red {text-decoration: none;} 
a.red:hover,a.blue:hover{color: #6d6d6d;}
a.blue {color: #003dd5;text-decoration: none;}
a.bred {text-decoration: none; font-weight:bold; font-size:14px;}
.blue_f{color: #003dd5;}
.greds{color: #6d6d6d;}
.main{ width:960px; margin:0 auto; position:relative; zoom:1;}
/***公共样式**/
.content,.fast_road{ background:#f2f2f2;}
.new_list{ background:#f3f3f3;}
.cred ,a.red ,.back a:hover,a.bred,a.bred:hover,.login_help a:hover,.game_style a:hover,a.gred:hover,.game_center_list li a:hover,.game_style2 a:hover,.logined_usename span{ color:#F00;}
a:hover ,.broadcast a:hover ,.title_brue a:hover,.back a,.new_list_ul li a:hover{text-decoration:underline;}
.broadcast a ,a.hot_txt_t:hover,.btn a:hover,.btn2 a:hover,.car_get_tit1 a,.menu a:hover,.enter_red a:hover,.enter_blue a:hover,.page a,.page a:hover,.title a:hover,.logined_bnt a:hover{ text-decoration:none;}
.hot_game ,.hot_game2,.list_tab li,.content,.fast_road,.new_list,.bottom_service,.service,.friends_link,.new_list_left,.card_left,.register,.service_right{border:solid 1px #d3d3d3;}
.hot_game ul li p,.game_style_bg,.game_style_bg2,.game_center_list li p,.btn a,.btn2 a,.content table tr td,.foot,.enter_red a,.enter_blue a,.number_red ,.number_blue,.page,.choice_game,.card_hot,.card_new,.car_get_tit1 i,.logined_bnt a{text-align:center;}
.fast_road,.service,.content,.new_list,.friends_link,.hot_game,.hot_game2,.new_list_left,.card_adv,.card_right,.card_left,.bottom_service,.register{ margin:6px 0 0 0;}
.hot_game2_ul li ,.center_left,.hot_game ul li,.hot_game2_ul li,.img,.list_tab li,.fast_road ul li,.new_list,.new_list ul li a ,.service_li li img ,.new_list_ul li a ,.card_left,.bottom_service ul li,.card_content,.game_detail_img,.game_center_list li{float:left;}
.new_list ul li span,.center_right,.new_list_ul span,.card_right{ float:right;}
a.hot_txt_t ,.tel,.service_tel,.car_get_tit1 a,.game_center_t,.logined_usename span,.logined_bnt a{font-weight:bold;}
.btn2,.btn,.alpha,.broadcast,.list_tab,.more,.go_left,.go_right,.logo,.menu,.login,.back,.all_game,.login_bg,.roud_bg,.round_70,.game_detail_img em,.news_ico{
	position:absolute;
}
.title_brue,.game_list li,.classify_list,.hot_game2_ul li,.game_detail_img,.game_center_list li{ position:relative;}
.card_hot,.card_new,.go_left,.go_right{display: block; }
.go_left,.go_right{cursor:pointer;}
.slide_circle a{ display:inline-block;}
.tit1 span{ font-size:14px;}
.blue_f{ font-weight:bold;}

.main_bg{ background:url(file:///E|/images/cms_style_2012_new/main_bg.jpg) repeat-x top; *margin-top:-10px; }
.main_bg .center_left{ margin-top:10px;}
.main_bg .center_right{ margin-top:20px;}
/***公共样式结束**/
/*网站标题图标*/
.cup{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) -87px -100px;display:inline-block; float:left; height:25px; width:25px;vertical-align:middle;margin-right:8px;}
.title{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat -178px -73px; position:relative; padding-left:15px; margin:10px 0 0 0; font-size:16px; font-weight:bold;font-family: microsoft yahei;color:#444444; font-weight:bold;}

/***头部样式**/
.top{ height:105px; background: url(file:///E|/images/cms_style_2012_new/top_bg.jpg) repeat-x; position:relative; z-index:1;}
.logo_herf{width:270px; height:88px; position:absolute; top:3px; left:22px; z-index:9999;}
.logo_herf a{height:88px; display:block;}
.logo{width:187px; height:74px; position:absolute; top:12px; left:33px; z-index:-9999;}
.logo a{width:187px; height:74px; display:block; background:url(file:///E|/images/cms_style_2012_new/logo.jpg) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (sizingMethod=scale,src='/images/cms_style_2012_new/logo.jpg');}
.top_menu{position:absolute; height:19px; right:0px; top:13px;}
.top_menu a{background:#d3d3d4;color:#626262; margin-left:6px;padding:4px 6px;*padding:4px 6px;-moz-border-radius:3px; -webkit-border-radius: 3px; border-radius:3px;}
.top_menu a:hover{  color:#fff; background:#cbcddd; text-decoration:none;}

.menu{ height:20px;line-height:20px;right:0px;top:55px;width:570px;_width: 600px;}
.menu ul li{width:65px; float:left; margin-left:30px;}
.menu li a{ font-size:15px; font-family: microsoft yahei;  color:#333333; font-weight:bold; display:inline-block; line-height:16px;_line-height:19px;}
.menu li a span{ font-size:10px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; padding-left:2px;}
.menu a:hover{color:#f6620a;}

/********所有游戏鼠标经过弹出框*********/
.all_games_ico{ background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat 0px -75px;width:96px;  height:21px; line-height:21px;margin-left:5px; display:inline-block;  padding-left:3px; color:#464646; cursor:hand; cursor:pointer; }
.all_games_up{background:#efefef;position:absolute; width:526px; top:43px; right:0px; border:solid 1px #d6d6d6; z-index:999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; padding:6px;}
.all_wel{ background:#fff; color:#0096d0; padding:5px;height:30px;line-height:30px; border:1px solid #d6d6d6;}
.all_wel span{ display:inline-block;  color:#666; margin-left:15px;}
.all_wel span img{ margin-right:4px;}
.all_games_list{ background:#fff; border-left:solid 1px #d6d6d6; overflow:hidden;}
.all_games_list li{ float:left;width:99px; border:solid 1px #d6d6d6; border-top:none;border-left:none; height:30px; line-height:30px; padding:0 0 0 5px; background:#f8f8fd; position:relative;}
.all_games_list li:hover{ background:#e8e8ed;}
.all_games_list li a{ color:#464646;width:99px; display:inline-block;}
.all_games_list li img{ position:absolute; right:10px; top:10px;}
.all_games_list li a:hover{ color:#0896d4; text-decoration:none;}
.all_gemes_tra{ position:absolute; top:-9px; right:20px}

/***幻灯片切换**/
.slide{ background:url(file:///E|/images/cms_style_2012_new/slide_bg.jpg) repeat-x; position:relative; height:334px; z-index:15; margin-top:-8px;}
.slide-pic{ text-align:center; margin-left:-120px;}
.slide-pic li { display:none}
.slide-pic li.cur { display:block}
.slide-li {height:30px;position:absolute;left:300px;top:350px;*top:345px;}
.slide-li li{ background:url(file:///E|/images/cms_style_2012_new/slide_circle.png) 0px 0px;_background:url(file:///E|/images/cms_style_2012_new/slide_circle.gif) 0px 0px;  height:17px; width:17px;float:left;  margin-left:8px; cursor:pointer; }
.slide-li li.current{ background-position: -17px 0px ;}

/******主页登陆部分*******/
.login{background:url(file:///E|/images/cms_style_2012_new/index_login_bg.png) no-repeat; _background:url(file:///E|/images/cms_style_2012_new/index_login_bg.gif) no-repeat; height:224px;width:235px;right:0px;top:80px; padding:18px 0px 10px 10px; *padding:18px 0px 10px 10px;color:#666666;z-index:900; border: solid 0px #c9c9c9; border-top:none;}
.login div{ margin-top:10px; margin-left:8px; *margin-left:8px; *margin-top:10px; }
.login div input{background:url(file:///E|/images/cms_style_2012_new/index_login_input.jpg) no-repeat;height:20px; line-height:20px;_height:20px; _line-height:20px; width:161px; border:0px; padding-left:3px;  color:#b8bad0; }
.forget_p{ margin:18px 0 0 50px; _margin:10px 0 0 55px;}
.forget_p{ color:#544e52;}
.forget_p a{ margin:20px 20px 0 14px ; color:#544e52;}
.forget_p input{ vertical-align:middle;}
.forget_p a:hover{ color:#818181;}
.l_btn ,.l_reg{ margin:8px 0 14px 0px;}
.l_btn input{background:url(file:///E|/images/cms_style_2012_new/login_btn.png) no-repeat;_background:url(file:///E|/images/cms_style_2012_new/login_btn.gif) no-repeat; width:214px; height:49px; border:none; display:block; cursor:hand; cursor:pointer;}
.l_btn input:hover{background:url(file:///E|/images/cms_style_2012_new/login_btn.png) 0px 49px;_background:url(file:///E|/images/cms_style_2012_new/login_btn.gif) 0px 49px;}
.l_reg,.l_reg a{ color:#544e52;}
.l_reg{ margin-left:40px;}
.l_reg_now{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) 0px -97px;display:inline-block;width:70px; height:19px;}
.l_reg_now a{color:#e3e3e6; padding-left:6px; line-height:19px; *line-height:19px;}
.index_qq a{ color:#000; text-decoration:underline; }
.index_qq a img{ vertical-align:middle; margin:0 4px;}
.login_list{ padding:5px 10px 5px 18px;  color:#fff;  left:30px;}
.login_list  li{ background:url(file:///E|/images/cms_style_2012_new/login_list.png) no-repeat;_background:url(file:///E|/images/cms_style_2012_new/login_list.gif) no-repeat;float:left; width:60px; line-height:19px; line-height:19px; padding-left:30px; margin:6px 0;}
.login_list  li a{ color:#676767;}
.login_list  li a:hover{ color:#F00; text-decoration:none;}
.login_list  li.l1{ background-position:0px 0px;}
.login_list  li.l2{ background-position:0px -24px;}
.login_list  li.l3{ background-position:0px -46px;}
.login_list  li.l4{ background-position:0px -64px;}
.login_list  li.l5{ background-position:0px -70px;}

/*****登陆后的页面*****/
.logined_btn{ background:url(file:///E|/images/cms_style_2012_new/logined_menu_bg.jpg) no-repeat; height:73px; width:216px;margin:10px 0px !important;margin-left:0px !important;}
.logined_head{ background:url(file:///E|/images/cms_style_2012_new/logined_head.jpg) no-repeat; float:left; width:65px; height:70px;margin-top:5px;}
.logined_head img{ width:57px; height:62px; padding:4px;}
.logined_usename{ color:#000; line-height:15px; margin-bottom:10px; word-wrap:break-word; word-break: break-all; font-size:14px; font-weight:bold;}
.played_games{ width:110px; margin-left:75px; margin-top:15px; margin-bottom:10px;}
.logined_bnt {height:29px; width:104px; float:left; margin:10px 8px 3px 0px; }
.logined_bnt a{ display:block; background:url(file:///E|/images/cms_style_2012_new/logined_btn.png) 0px 0px;  height:30px;line-height:30px; width:104px; color:#555555;}
.logined_bnt a:hover{ background-position:0px  -30px; }
.recently_login{ line-height:25px;}
.recently_login span{ font-size:14px !important; font-weight:bold; color:#4e578e;}
.recently_login span a{ color:#4e578e; font-size:14px !important; }
.recently_login span a:hover{color:#4e578e; text-decoration:none;}
.game_home{ margin-left:75px;}
.game_home a{background:url(file:///E|/images/cms_style_2012_new/index_logined_ico.gif) no-repeat; padding-left:12px;  color:#545583; display:block; margin-right:8px; margin-top:7px;}
.game_home a:hover{ color:#F00; text-decoration: underline;}

a.tt{ font-size:16px; font-family: microsoft yahei;  color:#544e52;}
a.tt:hover{ font-size:16px; font-family: microsoft yahei;  color:#F00;}
.center_left{  width:691px;}
.title_brue{ font-size:14px; font-weight:bold; color:#356fff;}
.title_brue a{  color:#356fff; }
.title_brue a:hover{  color:#F00; }
.hot_game{ height:210px; width:689px; overflow:hidden; background:#e7e7e7;}
.btn_over{ display:none;}
.hot_game ul{ width:700px; margin:14px 18px;}
.hot_game ul li{ width:199px; height:155px; margin-right:27px; position:relative;}
.hot_game ul li p{ margin-top:10px; font-size:14px;}
.hot_game ul li img{  width:199px; height:148px;}

.btn{left:26px;}
.btn2,.btn{ bottom:10px; right:26px; _bottom:30px;z-index:2;}
.btn a{ background:url(file:///E|/images/cms_style_2012_new/blue_bg.png) 0px -30px; _background:url(file:///E|/images/cms_style_2012_new/blue_bg.gif) 0px -30px;display:block; height:30px; line-height:27px;width:72px; color:#fff;}
.btn a:hover{ background-position:0px -90px;}
.btn2 a{ background:url(file:///E|/images/cms_style_2012_new/blue_bg.png) 0px 0px; _background:url(file:///E|/images/cms_style_2012_new/blue_bg.gif) 0px 0px;display:block; height:30px; line-height:27px;width:72px; color:#fff;}
.btn2 a:hover{ background-position:0px -60px;}

.broadcast{right:5px;top:0px;width: 345px;}
.broadcast a{ color:#544e52; font-weight:normal; }
.broadcast a:hover{ color:#F00; font-weight:normal;}
.broadcast_ico{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat -172px -93px; height:15px;width:16px;display:inline-block; float:left; padding:3px 0 0 0; margin-right:6px; vertical-align:middle;margin-top:3px;}
.alpha{ width:199px; height:41px; background:url(file:///E|/images/cms_style_2012_new/alphan_bg.png) no-repeat; _background:none; bottom:7px; z-index:1;}

/***热门游戏**/
.hot_title2{line-height:20px; height:20px;}
.hot_game2{  background:#eeeeee; width:689px; overflow:hidden; _width:689px; *overflow:hidden;}
.hot_game2_ul{width:700px; margin-top:1px;height:219px; overflow:hidden;}
.hot_game2_ul li{height:90px; width:210px;*width:208px;background:#ececec; border-right:solid 1px #d3d3d3;border-bottom:solid 1px #d3d3d3;border-left:solid 1px #fff;padding:10px;}
.hot_game2_ul li.none{padding:25px 30px 10px 30px; border-top: solid 1px #d3d3d3 ;  }
.img{ width:100px; height:92px; margin-right:10px;}
.hot_txt{ margin:12px 0 0 100px; line-height:19px;}
.selct_enter{ margin-top:10px;}
a.hot_txt_t{color:#1681ee; font-size:14px;  }
a.hot_txt_t:hover{color:#F00; }
.hot_game2_ul .news_ico{ top:10px!important; left:11px;}

/*******首页所有游戏****/
.index_all_games{ width:710px; }
.index_all_games li{ height:25px; width:113px;*width:112px; background:#ececec; float:left;  border-right: solid 1px #d3d3d3; border-bottom: solid 1px #d3d3d3;border-left: solid 1px #fff; border-top: solid 1px #fff;padding:7px 10px 7px 15px;  }
.index_all_games img{ height:28px; width:28px; float:left;}
.index_all_games li.none{ padding:10px;  border-top: solid 1px #d3d3d3 ;  }
.index_all_txt{ margin:0px 0 0 35px; line-height:28px;*line-height:30px;}
.more_games{ position:absolute; right:20px; top:3px;_top:7px;}
.more_games a{ color:#666666; font-size:12px;font-family:"宋体","Arial Narrow"; font-weight:normal !important;}

/***最新开服列表**/
.content{ padding:5px 0 10px 0;}
.center_right{  position:relative; width:259px; margin-top:10px;}
.list_tab{  right:0px; top:0px;}
.list_tab li{ width:15px; height:15px;line-height:15px; margin-left:10px; color:#7d73a9; cursor:hand; cursor:pointer;text-align:center;}
.list_tab li.current{color:#fff; font-weight: bold; border:solid 1px #df7600; background:#f89500;}
.content table{ display:none;  margin:0 auto;}
.content table tr{ height:28px; line-height:28px; width:240px;}
.content table tr th{ border-bottom:solid 1px #eb3700;}
.content table tr td { background: url(file:///E|/images/cms_style_2012_new/dashed.jpg) repeat-x bottom; height:28px; line-height:28px; width:40px;  }
.content table tr td a{  display:inline-block; width:80px; }
.content table tr td a:hover{ text-decoration:none;}
.content table tr td.cred{ width:80px;_width:90px; color:#F00 !important;}

/***快速通道**/
.fast_road{  overflow:hidden; width:257px; }
.fast_road ul{width:265px; background:#f3f3f3; }
.fast_road ul li{ height:17px; line-height:17px;_line-height:17px; width:105px; border-bottom:solid 1px #e0e0e0;  margin-top:1px; border-top: solid 1px #fff;  padding:14px 0 14px 25px;_padding:13px 0 13px 25px;}
.fast_road ul li.none_border{ border:none;}
.fast_road ul li a{ color:#0060b6; display:block;height:16px; line-height:16px; }
.fast_road ul li a:hover{ color:#F00;}
.fast_road  ul li i { background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat;  display:inline-block; float:left; padding:3px 0 0 0; width:17px; margin-right:6px; overflow:hidden; vertical-align:middle;}
.fast_road  ul li i.modify{ background-position:-169px -109px; height:15px;}
.fast_road ul li i.find{ background-position:-169px -127px; height:16px;}
.fast_road ul li i.tels{ background-position:-169px -144px; height:15px;}
.fast_road ul li i.email{ background-position:-169px -162px; height:15px;}
.fast_road ul li i.regs{ background-position:-169px -180px; height:15px;}
.fast_road ul li i.rechar{ background-position:-169px -196px; height:15px; }
.fast_road ul li i.monitors{ background-position:-169px -212px; height:16px;}
.fast_road ul li i.indulging{ background-position:-169px -230px; height:17px;}

/*用户喜欢排行*/
.love{ background:#fff !important;}
.number_red ,.number_blue{ display: inline-block; height:18px; line-height:18px; width:18px; color:#fff; font-weight:bold; }
.number_red{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) -146px -179px; }
.number_blue{ background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) -146px -198px;}
.enter_red a,.enter_blue a{ display: block; height:24px; line-height:24px;width:70px; color:#fff; }
.enter_red a{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) 0px -203px;}
.enter_blue a{ background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) -70px -203px; }
.table{ margin:10px 4px 10px 10px;}
.table tr{ height:38px; line-height:38px;} 
.table tr td{ border-bottom: solid 1px #eaeaea;}

/**客服专区**/
.service{position:relative; }
.index_service_peo{ position:absolute; display:inline-block; height:157px; width:115px; background:url(file:///E|/images/cms_style_2012_new/index_service_peo.jpg) no-repeat; right:0px; top:12px;_top:5px; z-index:1;}
.service_li{border: solid 1px #fff; padding:5px 10px 10px 5px; }
.service_li li{ height:38px; background:url(file:///E|/images/cms_style_2012_new/index_service_bottom.jpg) no-repeat bottom; margin-top:5px;_margin-top:4px; padding:4px 6px; *padding:5px 6px;_padding:3px 6px; width:130px;}
.time{ color:#769722; font-family: "Courier New", Courier, monospace; font-size:14px; margin-left:3px; }
.service_tel{display:inline-block; width:58px; height:22px; line-height:20px;  background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat -80px -162px; text-align:center;}
.service_tel a{color:#ede9e9;}
.service_tel a:hover{ text-decoration:none;}
.help{ color:#bdbfbf;}
.tel{ color:#f6620a; font-size:18px !important;font-family:Arial, Helvetica, sans-serif;}
.mon{ line-height:30px; }
.mon a{color:#45627d;}

/***友情连接***/
.friends_link{  background:#f3f3f3; _margin:10px 0 0 0; position:relative;*margin:10px 0 0 0;}
.f_tit{ font-size:14px; font-weight:bold; color:#737373; background:url(file:///E|/images/cms_style_2012_new/link_bg.jpg) repeat-x; line-height:32px; height:32px;_line-height:32px; _height:22px;border-bottom:solid 1px #ededed; margin-bottom:5px; padding-left:10px; _margin-top:10px;}
.friends_link a{ color:#646464; padding:4px 3px; line-height:20px; }
.friends_link a:hover{ color:#F00; }

/***友情连接下拉***/
.link{ height:22px; overflow:hidden; position:relative; margin:0px 30px 5px 20px;*margin:0px 30px 5px 20px;}
.link_click{ height:auto; overflow:hidden; position:relative;margin:0px 30px 5px 20px;*margin:0px 30px 5px 20px;}
.link_ico{background:url(file:///E|/images/cms_style_2012_new/link_ico_2.jpg) no-repeat;display:inline-block;position:absolute;height:5px;_height:5px; cursor: pointer; cursor:hand;width:9px;_width:9px;right:10px;top:48px;*top:46px;}
.link_ico_click{background:url(file:///E|/images/cms_style_2012_new/link_ico_1.jpg) no-repeat; display:inline-block;position:absolute;height:5px; cursor: pointer; cursor:hand;	width:9px;right:10px;top:48px;*top:46px;}
.link_title{ background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat -72px -99px; height:14px; width:13px; display:inline-block; margin-right:5px;}

/***友情连接下的服务***/
.bottom_service{width:960px; overflow: hidden;*margin:20px 0 0 0; background:#eeeeee; }
.bottom_service .title{ background:none !important;}
.bottom_service ul{ width:970px;}
.bottom_service ul li{ width:200px;height:128px; border-right: dashed 1px #d1d1d1; padding:20px;}
.bottom_service ul li p{ margin:0px 0px 10px 0px;_margin:0px 0px 10px 0px;}
.bottom_service ul li a{ display:block; margin-left:50px; line-height:20px; height:20px; color:#6D6D6D; text-decoration: none;}
.bottom_service ul li a:hover{ text-decoration: underline; color:#F00;}
.bottom_ico i{background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat;  display:inline-block; float:left;margin-right:10px;vertical-align:middle; width:27px; overflow:hidden;}
.bottom_ico i.ser1{ background-position:-141px -75px; height:20px;}
.bottom_ico i.play_s{ background-position:-141px -100px; height:24px;}
.bottom_ico i.rechar_s{ background-position:-141px -125px; height:25px; }
.bottom_ico i.hot_bbs{ background-position:-141px -151px; height:26px; }

/* >>>>>新闻列表页码>>>>> */
.page{padding:10px 0; margin:25px 0; font-size:12px;}
.page a,.page span{padding: 0px 8px; height:25px; line-height:25px; vertical-align:middle; margin-right:2px;   color:#4e6ac9; background:#fff; border: solid 1px #9aafe5; display:inline-block;}
.page a:hover {color:#fff;  border:solid 1px #000080; background:#2e6ab1;font-weight:bold;}
.page a:active {color:#666; }
.page .current {font-weight:bold; border:solid 1px #000080; background:#2e6ab1; color:#FFFFFF; }
.page .disabled {padding:0px 8px; height:25px; border: solid 1px #929292; color:#929292; margin:2px; font-family:"Times New Roman", Times, serif; font-size:14px;}

/******新手卡********/
.card_left{ width:168px;}
.card_right{ width:782px;}
.choice_game{ height:36px; line-height:36px; border-bottom:solid 1px #bfd9f0;  position:relative;}
.card_hot,.card_new{height:11px;line-height:11px;_height:7px;_line-height:7px;width:25px;position:absolute;right:10px;top: 20px;}
.card_hot{background:url(file:///E|/images/cms_style_2012_new/card_circle.jpg) 0px -60px; }
.card_new{background:url(file:///E|/images/cms_style_2012_new/card_circle.jpg) 0px -71px;}
.go_left{height:15px;width:15px;background:url(file:///E|/images/cms_style_2012_new/card_circle.jpg) 0px -82px;top:10px;left: 20px;}
.go_right{height:15px;width:15px;background:url(file:///E|/images/cms_style_2012_new/card_circle.jpg) -14px -82px;top:10px;right: 20px;}
.card_left .game_list_wrap{width:168px;  margin:0; overflow:hidden;  position:relative;}
.game_list{maring:0;width:10000px; background:#fff;}
.game_list ul{width:168px;float:left; margin:0px; overflow:hidden !important;}
.game_list li{ line-height:20px; border-bottom:solid 1px #CCC; padding:10px; background:#f4f8ff;}
.game_list li:hover, .game_list li.hover{ background:#ebe9e9;}
.game_list li img{  width:28px; height:28px; margin-right:15px; vertical-align:middle;}
.card_right_tile{ border:solid 1px #003a6a; height:37px; line-height:35px; background:#0360b3;}
.card_right_tile .tit1{height:35px; line-height:33px; background:#0360b3;border:solid 1px #0287d6; }
.tit1 a{margin-left:30px; color:#c3e2ff !important;}
.tit1 span{ font-weight:bold; color:#fff; }
.car_get_one{  border:1px solid #dbdbdb; margin-bottom:20px; background:#fff;}
.car_get_tit1{height:36px; line-height:36px; border-bottom:solid 1px #dedede; background:#eeeeee;}
.car_get_tit1 a{  color:#015198; height:19px; font-family: Arial, Helvetica, sans-serif; }
.car_get_tit1 i{background:url(file:///E|/images/cms_style_2012_new/card_circle.jpg) no-repeat;  display:inline-block; margin:8px 10px;vertical-align:middle; width:20px; height:19px; overflow:hidden; line-height:10px; }
.car_get_tit1  i.two{ background-position:-20px 0px;}
.car_get_tit1  i.select_c{ background-position:0px -19px;}
.car_get_tit1  i.select_t{ background-position:-20px -19px;}
.car_get_tit1  i.tit_ico{ background-position:0px -40px;}
.card_content{ padding:25px 15px !important; width:355px; height:120px;line-height:25px;}
.card_select{ border-right:solid 1px #dedede;}
.card_select span{ width:100px; display: inline-block; text-align:right;}
.card_select i{ margin:0px 3px;}
.card_select option{ width:80px;}
.card_btn a{ display:block; background:url(file:///E|/images/cms_style_2012_new/login_reg_btn.jpg) 0px -117px; height:25px; width:67px; margin:8px 0 10px 105px;}
.card_btn a:hover{ background:url(file:///E|/images/cms_style_2012_new/login_reg_btn.jpg) -67px -117px; }
.card_select label input{height:24px; line-height:24px;_height:24px; _line-height:24px; width:150px; border:solid 1px #bcbcbc;  padding-left:3px;}
.card_select img{ vertical-align:middle;margin:0px 0px 2px 0px;*margin:-12px 0px 2px 0px;}
.car_get_one div{ padding:10px; line-height:25px;}

/*******登陆页面*********/
.login_page{ border:solid 1px #d3d3d3; overflow:hidden; zoom:1; background:#f3f3f3;}
.login_title_red{/*border:1px solid #ED6C00;*/ width:60px; *height:1px; *left:0px;_border-top:2px solid #ED6C00;_border-left:none;_border-right:none;  *background:#ED6C00;_background: none;_border-bottom:none;  position:absolute; top:16px;_top:18px;left:-1px;}
.login_left{ width:420px;float:left; text-align: center;}
.login_right{background:url(file:///E|/images/cms_style_2012_new/login_page_center.jpg) no-repeat left;float:right; width:470px;  padding:26px 30px; text-align:center;}
.reg_btn a{ display:block; background:url(file:///E|/images/cms_style_2012_new/login_reg.jpg) no-repeat; height:104px; width:230px; margin:70px 100px;}
.login_right p .l_input{height:26px; line-height:26px;_height:26px; _line-height:26px; width:180px; border:solid 1px #d2d1d1; margin-top:25px; padding-left:3px; background:#f6f6f6;}
.login_btn{float:left; display:inline-block; background:url(file:///E|/images/cms_style_2012_new/login_btn.png) 0px 0px; height:49px; width:214px; margin:15px 0 20px 120px; border:none; cursor:hand; cursor:pointer;}
.login_help{ margin:15px 0px 10px 0px; color:#333;}
.login_help a{ color:#808080; margin: 0 20px;}
.login_qq{ float:left; margin:30px 0 0 20px; *margin:30px 0 0 3px;}
.login_qq a{ text-decoration:underline; color:#C30;}
.login_qq a img{ vertical-align:middle; margin-right:3px;}
.login_help input{ vertical-align:middle;}

/****用户注册*****/
.register{ overflow:hidden; zoom:1; background:#f3f3f3;}
.regis_title{ margin-top:10px; font-size:14px; color:#444444; font-family:microsoft yahei; font-weight:bold; }
.reg_title{ height:40px; width:600px; line-height:40px;  margin:60px 0px 20px 130px; color:#665852; border-bottom: solid 1px #d6d6d6; position:relative;}
.reg_title_red{ border:1px solid #ED6C00; width:75px; *height:1px; *left:0px;_border-top:2px solid #ED6C00;_border-left:none;_border-right:none;  *background:#ED6C00;_background: none;_border-bottom:none;  position:absolute; top:39px;_top:39px;}
.reg_title span{color:#ED6C00;}
.register ul{  height: auto; margin-bottom:40px;}
.register ul li{ height:40px; line-height:40px; padding:1px 130px; color:#535353;}
.register ul li b{ font-weight:normal; color:#ED6C00;}
.register ul li span{ text-align:right; width:90px; display:inline-block;}
.register ul li .sort_input{ width:80px !important; } 
.register ul li .input,.register ul li .sort_input{ height:25px; line-height:25px; width:179px;border:solid 1px #d6d5d5; background:#fff; padding-left:5px; *vertical-align:middle;}
.register ul li img{ vertical-align:middle;}
.register ul li label{ margin-left:10px;}
label.normal,label.error,label.correct{background:url(file:///E|/images/cms_style_2012_new/regist_ico.png) no-repeat; _background:url(file:///E|/images/cms_style_2012_new/regist_ico.gif) no-repeat; height:20px; padding:3px 0 0px 23px;_padding:2px 0 0 23px; margin-right:6px;}
label.correct{ background-position: 0px 0px;} 
label.normal{ background-position: 0px -16px;}
label.error{ background-position: 0px -32px;}
.regist_b{background:url(file:///E|/images/cms_style_2012_new/login_reg_btn.jpg) -154px -303px; display:block;height:32px; width:96px; margin:15px 0 30px 90px;_margin:15px 0 30px 90px; border:none; cursor:hand; cursor:pointer;}

/**游戏中心**/
.game_center_detail{ background:#fff; background:url(file:///E|/images/cms_style_2012_new/game_center_bg_bottom.jpg) bottom repeat-x #fff; padding:0 0 10px 0; margin-bottom:3px;}
.game_detail{ margin-left:320px;}
.game_detail_img img{ margin:0 20px 0 0;}
.game_center_f{ margin:20px 0px; text-indent:2em; line-height:22px; color:#3e3e3e;}
.game_center_t{ margin-top:10px; font-size:18px; color:#fe0000;  border-bottom:solid 1px #dbdbdb; line-height:30px;}
.game_center_t span{ font-size:12px; font-weight:normal; color:#f65d00; margin-left:10px;}
.game_detail_img em{  height:233px; width:308px; background:url(file:///E|/images/cms_style_2012_new/game_center_round.png) no-repeat; _background:url(file:///E|/images/cms_style_2012_new/game_center_round.gif) no-repeat; top:0px; }
.game_center_b a{ display: inline-block; background:url(file:///E|/images/cms_style_2012_new/login_reg_btn.jpg) 0px -240px; height:47px; width:154px; }
.game_center_b2 a{ display: inline-block; background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) 0px 0px; height:47px; width:178px; margin-left:5px;}
.game_center_b a:hover{ background-position:0px -288px;}

.classify_list{ height:40px; margin-top:10px;}
.game_style{ margin:5px 0;}
.game_style a{ margin:10px; color:#757575;}
.game_style2 a{ margin:5PX;color:#757575;}
.game_style_bg,.game_style_bg2{ background:url(file:///E|/images/cms_style_2012_new/index_ico.gif) no-repeat;height:17px;line-height:17px;width:61px;display:inline-block;color:#fff;}
.game_style_bg{ background-position: -80px -126px; }
.game_style_bg2{ background-position: -80px -143px; margin-right:15px; }
.game_center_list{margin:10px; width:700px; _margin:10px 10px; }
.game_center_list li{ width:79px;  height:110px; margin:5px 0px; padding:0px 8px;background:url(file:///E|/images/cms_style_2012_new/game_center_dashed.jpg) repeat-x bottom; }
.game_center_list li img{  width:79px; height:79px;}

.game_center_list li p{ margin-top:8px;}
.all_game{ top:20px; right:10px;}
.all_game a{  height:21px; line-height:21px; width:75px; display:inline-block; color:#666666; font-size:12px;font-family:"宋体","Arial Narrow";}
.all_game a:hover{background-position: -180px -172px; text-decoration:underline; color:#F00; }

.news_ico{ width:37px; height:37px; background:url(file:///E|/images/cms_style_2012_new/news_ico.png) no-repeat; _background:url(file:///E|/images/cms_style_2012_new/news_ico.gif) no-repeat; top:0px;}

/*>>>>>>>>服务器列表>>>>>>>>*/
.recommend_server{ margin-top:10px;*margin-top:40px; height:24px; line-height:24px; border:solid 1px #dddddd; padding:0px 10px; background:#fafafa;}
.recommend_left { float:left; display:inline-block;}
.recommend_left a{ background:url(file:///E|/images/cms_style_2012_new/comm_server_ico.jpg) no-repeat left  ; margin:0px 5px; padding-left:15px; color:#a21211;}
.recommend_right{ float:right; color:#535353; _margin-top:2px;}
.recommend_right .input{ height:16px;line-height:16px; width:42px; margin-left:5px;/*vertical-align:middle;*/  border:solid 1px #abadb3; }
.btn_go{ background:url(file:///E|/images/cms_style_2012_new/service_go.jpg) no-repeat; height:16px; width:17px; border:0; cursor:pointer; cursor:hand; /*vertical-align:middle;*/}
.recommend_right img{ vertical-align:middle;}
.service_right{ float:right; overflow:hidden; _zoom:1;}
.role{ margin-left:60px; font-family: Georgia, "Times New Roman", Times, serif;}
.service_list_tit { background:url(file:///E|/images/cms_style_2012_new/service_tit_bg.jpg) repeat-x; height:35px; line-height:35px; border: solid 1px #dadada; border-top:none;}
.service_list_tit span{ font-size:12px; font-weight:bold; color:#346eff; margin-left:10px; display:inline-block; float:left; width:80px;}
.service_list_ul { width:560px; float:left; }
.service_list_ul li{ float:left; padding:0px 10px; background: url(file:///E|/images/cms_style_2012_new/service_list_tit_bg.jpg.jpg) repeat-x; margin-right:5px; border:solid 1px #dadada; height:21px; line-height:21px; margin-top:13px; color:#535353; cursor:hand; cursor:pointer;}
.service_list_ul li.current{color:#346eff;  background:url(file:///E|/images/cms_style_2012_new/service_list_hover_bg.jpg) repeat-x;}
.service_list_ul li img{ margin-right:20px !important;}
.servie_list_content{ border:solid 1px #dadada; border-top:none; padding:13px 0px 20px 20px; overflow:hidden; zoom:1; background:#fff;}
.servie_list_content a{ display:inline-block; text-decoration:none; padding:5px 10px; background:url(file:///E|/images/cms_style_2012_new/service_list_li_bg.jpg) repeat-x; float:left; border:solid 1px #a4ccff; margin:10px 20px 0px 0px; color:#1f1f1f; position:relative; width:124px;}
.servie_list_content a:hover{ background:#e3e6ee;}
.servie_list_content a span{ display:inline-block; color:#00670c; float:right; right:0px; position:absolute; top:5px;*top:7px; right:3px;}

.game_list_s{width:255px;  margin:10px 0 0 10px; display:inline; float:left; overflow:hidden; }
.game_list_tit{height:35px; line-height:35px; text-align:center;  background:url(file:///E|/images/cms_style_2012_new/service_right_bg.jpg) repeat-x; border-bottom:solid 1px #dadada; }
.game_list_tit span{height:35px; width:160px; line-height:35px; display:inline-block; color:#f44e00; font-size:16px; font-family:"微软雅黑"; vertical-align:middle;}
.game_list_tit .left{ display:inline-block; width:20px; height:35px; background:url(file:///E|/images/cms_style_2012_new/icon_left.jpg) no-repeat left center; cursor:pointer;}
.game_list_tit .right{ display:inline-block; width:20px; height:35px; background:url(file:///E|/images/cms_style_2012_new/icon_right.jpg) no-repeat right center; cursor:pointer;}
.game_list_wrap{width:255px;  margin:0; overflow:hidden;}
.game_list_txt{maring:0;width:10000px; overflow:hidden; background:#fff;}
.game_list_txt ul{width:255px;float:left; margin:10px 0px; overflow:hidden !important;}
.game_list_txt li{height:35px; *height:33px; *line-height:33px; line-height:35px; font-size:14px; border-bottom:1px solid #e0e0e0;  display:block; }
.game_list_txt li:hover{ background:#e0f4ff; display:block;}
.game_list_txt li span{font-size:12px; color:#666; /*float:right;*/}
.game_list_txt li .game_img{width:25px; height:25px; display:inline; margin:5px 15px 0 15px; float:left;}
.game_list_txt li a{height:35px;  *height:33px; *line-height:33px; display:block; cursor:pointer;}
.game_list_txt li a:hover{background:#e0f4ff; text-decoration:none;}
.game_list_txt li .current_game{ background:#A4CCFF;}
.game_list_txt li a#check{height:35px;  *height:33px; *line-height:33px; background:#e0f4ff; font-size:14px; display:block;}
.game_list_txt li a span.left{width:110px;_width:120px; display:inline-block;overflow:hidden; float:left; *margin:0 -15px 0 0; display:inline;}
.game_list_txt li a span.right{width:60px;color:#666; font-size:12px;display:inline-block; /*float:right;*/ margin-right:10px; *margin-right:15px;}

/**底部***/
.foot{ width:960px; margin:11px auto; line-height:23px; color:#6c6c6c; }
.foot a{ margin:0 10px; color:#6c6c6c;}
.foot a:hover{ color:#F00;}

/*********内页百度********/
.baidu_search{margin-bottom:20px;}
.baidu_search img{vertical-align:middle; margin:0px 5px; }
.baidu_search input{ line-height:20px; height:20px; border:solid 1px #999; background:#fff; padding:0px 3px;}

/*客服页面*/
.new_list_ul{ margin:15px; _margin:10px;}
.new_list_ul li{ height:26px; line-height:26px; *height:24px; *line-height:24px;background:url(file:///E|/images/cms_style_2012_new/pot.jpg) no-repeat left 14px;_background:url(file:///E|/images/cms_style_2012_new/pot.jpg) no-repeat left 7px; padding:0 10px 0 10px; }
.new_list_ul li a{ color:#63656a;}
.new_list_ul li a:hover{ color:#F00; }
.new_list_ul span{color:#63656a;}

.kf_banner{height:142px; margin-bottom:10px;}
.kf_left{width:718px; float:left; display:inline;}
.kf_left .red{color:#f00;}

.zixun_tit{height:30px; line-height:30px; color:#000000; font-size:14px; font-weight:bold; border:1px solid #dddddd; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;}
.zixun_tit span{font-size:14px; margin:0 5px;}
.zixun_txt{height:226px; border-bottom:1px solid #dddddd;}
.zixun_txt dl{width:168px; height:216px; border-right:1px solid #dddddd; text-align:center; padding:5px; float:left;}
.zixun_txt dl.none{width:167px; border:none;}
.zixun_txt dt{line-height:30px; color:#ed9624; font-size:14px; font-weight:bold;}
.zixun_txt dt img{margin-top:10px;}
.zixun_txt dd{line-height:24px; color:#545454; margin-top:12px;}
.zixun_txt dd .kf_btn{margin-top:10px;}
.zixun_txt dd  p span{width:80px; float:left;*display:inline-block; *height:29px;}
.zixun_txt dd  p span a{color:#545454; margin:0 5px;}
.zixun_txt dd  p span a:hover{color:#0059b3;}
.show_kf{width:372px; height:194px; margin-top:10px; float:left; display:inline;}
.news_kf{width:338px; height:194px; margin-top:10px; float:right; background:#fff;}
.news_kf_tit{height:30px; line-height:30px; color:#006fba; font-size:14px; font-weight:bold; border:1px solid #c5e9ff; background:url(file:///E|/images/cms_style_2012_new/zixun_tit.jpg); padding:0 12px;}
.news_kf_tit span{float:left; display:inline;}
.news_kf_tit a{float:right; color:#006fba;}
.news_kf_txt{height:151px; border:1px solid #dedede; border-top:none; overflow:hidden; padding:5px 12px;}
.news_kf_txt li{height:25px; line-height:25px; _height:23px; _line-height:23px;*height:23px; *line-height:23px;color:#545454; background:url(file:///E|/images/cms_style_2012_new/kf_news_icon.jpg) left center no-repeat; overflow:hidden; padding-left:13px;}
.news_kf_txt li a{width:244px; height:25px; color:#545454; overflow:hidden; float:left; display:inline;}
.news_kf_txt li a:hover{color:#f6620a;}
.news_kf_txt li span{float:right; color:#999;}
.kf_right{width:234px; float:right;}
.login_kf{height:108px; background:url(file:///E|/images/cms_style_2012_new/kf_login.jpg) no-repeat; padding:0 8px;}
.logined_kf{height:108px; background:url(file:///E|/images/cms_style_2012_new/kf_logined.jpg) no-repeat; padding:0 8px;}
.login_kf_tit{height:23px; line-height:23px; color:#fff; font-weight:bold; text-align:right; padding-right:4px;}
.login_kf_tit a{color:#fff;}
.login_kf_txt{height:65px; padding:14px 7px 0 7px;}
.login_kf_txt img{ float:left; margin-right:10px;}
.kf_right form{margin-top:0px !important;}
.logined_kf .game_home{margin-left:0 !important;}
.login_kf_txt .logined_usename{width:218px !important; margin-top:-32px !important; color:#fff; font-size:12px !important; position:relative;}
.login_kf_txt .logined_usename .server_out a{ color:#fff; position:absolute; right:10px; }
.txt_left{width:146px; float:left;}
.txt_left input{width:136px; height:23px;line-height:23px; border:none; background:url(file:///E|/images/cms_style_2012_new/kf_input_bg.jpg) no-repeat; padding:0 5px; margin-bottom:4px;}
.txt_right{width:50px; height:49px; float:right;}
.txt_right input{width:50px; height:49px; border:none; background:url(file:///E|/images/cms_style_2012_new/login_kf_btn.jpg) no-repeat; cursor:pointer;}
.lj_kf{height:67px; margin-top:10px; position:relative; cursor:hand; cursor:pointer;}
#server_pic_show{ display:none; position:absolute; z-index:9999; top:-50px; left:30px;}
.kstd{margin-top:10px;}
.kstd_tit{height:30px; line-height:30px; color:#006fba; font-size:14px; font-weight:bold; border:1px solid #c5e9ff; background:url(file:///E|/images/cms_style_2012_new/zixun_tit.jpg); padding:0 12px;}
.kstd_txt{height:238px; background:url(file:///E|/images/cms_style_2012_new/kstd_txt.jpg) no-repeat;}
.kstd_txt li{height:33px; line-height:33px; color:#000; border-bottom:1px solid #dadada; padding-left:50px;}
.kstd_txt li a{color:#000;}
.kstd_txt li a:hover{ color:#f6620a;}
.bot_tips{ width:960px; margin:6px 0 0 0;line-height:35px; color:#7b7b7b; text-align:center; }
/*客服新闻页*/
.kf_left_news{min-height:463px; height:auto !important; background:#fff; height:463px;border:1px solid #D3D3D3; margin-bottom:10px;}
.list_title{background:url(file:///E|/images/cms_style_2012_new/list_title.jpg) repeat-x; line-height:33px; height:33px; border-bottom:solid 1px #d3d3d3; padding-left:10px; font-size:12px; }
.content_top{ margin:30px 10px; border-bottom: solid 1px #cbcbcb;text-align:center;}
.content_top h1{ font-size:20px; color:#00327d;}
.content_time{ margin:10px 0;}
.content_center{margin:30px 50px; }
.content_center P{ line-height:20px; color:#5e5e5e;}
/*新旧平台切换*/
.chang_old{ position: fixed;_position:absolute; width:137px; height:69px; background:url(file:///E|/images/cms_style_2012_new/chang_old.png) top no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (sizingMethod=scale,src='/images/cms_style_2012_new/chang_old.png'); right:30px; top:20px;_right:-150px; _top:-80px; z-index:9999; cursor:hand;}
.chang_old a{ display:inline-block;width:137px; height:69px; }
/*用户中心*/
.serv{ width:80px;}


.getpass_box{ background:#fff; border:1px solid #D3D3D3;}
.getpass_box table{ margin:20px 100px;}
.getpass_box table tr{ height:40px; margin-top:10px;}
.user_list_tab{ background:url(file:///E|/images/cms_style_2012_new/title_bg.jpg) repeat-x;height:37px;line-height:37px; border-bottom:solid 1px #D3D3D3;}
.user_list_tab li{ float:left; width:120px; height:37px;border-right:solid 1px #D3D3D3;line-height:37px;  cursor:hand; cursor:pointer; text-align:center;  }
.user_list_tab li a{color:#6C6C6C;font-size:12px;}
.user_list_tab li a:hover{text-decoration:none;}
.user_list_tab li.current{ background: #fff; height:36px;line-height:36px;border-top:solid 2px #0099cc;text-align:center;width:120px; }
.user_list_tab li.current a{color:#0099cc; font-weight: bold;}
.submit{width:79px; height:29px; line-height:29px; text-align:center; background:url(../service_files/user/img/submit.gif); border:0; cursor:pointer; color:#fff; margin:20px 0px;}
.int img{ vertical-align:middle; cursor:hand; cursor:pointer;}

/*客服帮助页面*/
.server_help{  width:960px; background:url(file:///E|/images/cms_style_2012_new/server_help_bg.jpg) repeat-y; margin-top:10px;}
.server_help_top{ position:relative; height:80px; background:url(file:///E|/images/cms_style_2012_new/server_help_top.jpg) no-repeat;}
.server_help_title{ position:absolute; top:15px; left:105px;}
.server_help_title a{color:#3a80a2;}
.server_help_title a:hover{ text-decoration:none; color:#3a80a2;}
.server_help_login_txt{ position:absolute; right:10px; top:15px;}
.server_help_login_txt a{color:#a3e1ff;}
.server_help_login_txt a:hover{color:#a3e1ff;}
.clear{ clear:both;}

.server_help_bottom{height:28px; background:url(file:///E|/images/cms_style_2012_new/sever_help_bottom.jpg) no-repeat;}
.server_help_content{ background:#9fbbc9; margin:0px 5px; clear:both; overflow:hidden; height:auto;}
.server_help_c_left{ float:left; width:180px; background:#367796;}
.server_help_c_left ul li{ height:40px;line-height:40px;  border-bottom:solid 1px #9fbbc9; color:#fff; font-size:14px; text-align:center; cursor:hand; cursor:pointer;}
.server_help_c_left ul li.cur a{ background:#feffff;color:#214a67;}
.server_help_c_left ul li a{height:40px;line-height:40px; display:block; font-size:14px; font-weight:bold; color:#fff;}
.server_help_c_left ul li a:hover{ text-decoration:none; }

.server_help_c_right{ float:left; width:700px;  background:#fdfefe; padding:20px 30px 20px 40px;}
.server_right_title{ width:696px; height:29px; background:url(file:///E|/images/cms_style_2012_new/server_right_title_bg.jpg) no-repeat; margin-top:20px;}
.server_help_list{ min-height:100px; line-height:23px;}
.server_help_list li{height:35px; line-height:35px;border-bottom: dashed 1px #c7edff; background:url(file:///E|/images/cms_style_2012_new/server_help_ico.jpg) no-repeat left center; padding-left:15px;}
.server_help_list li a{ color:#3a80a2;}
.server_help_list li a:hover{color:#3a80a2;}

.server_help_alert{line-height:25px; background:#ebfbfe; border:solid 1px #d3d3d3; margin:20px 0px; padding: 5px 10px;}
.server_help_alert a{ color:#3a80a2;}

.fcm{color:#FF6600; line-height:20px; font-size:14px;  margin:10px 0 0 100px; }
.fcm a{ font-size:14px;}

/*招聘*/
.recruitment{width:728px; overflow:hidden;}
.recruitment_banner{ margin-bottom:10px;}
.recruitment_list{background:#fff; overflow:hidden; border:1px solid #D3D3D3; border-top:none; padding:20px;}
.recruitment_list ul li{height:32px;width:317px; float:left; line-height:32px; padding-left:45px; }
.recruitment_list ul li img{ vertical-align:middle; margin-right:10px;}
.recruitment_list ul li a{ color:#000;}
.recruitment_list ul li.even{ background:#f4f4f4;}

.orange{ font-size:14px; font-weight:bold; color:#ed6c00;}
.recruitment_c_title{ position: relative; line-height:30px; border-bottom:solid 3px #dce4e6; }
.recruitment_c_title_line{ position:absolute; display:inline-block; width:90px; height:3px; background:#71dbfa; top:30px;*top:22px; left:0px;}
.recruitment_c_title img{ margin-right:10px; vertical-align:middle;}
.recruitment_content p{ margin:10px;line-height:25px;}
.requirt_box{ margin:10px 0px; padding:10px 20px; border:solid 1px #D3D3D3;  }
.recruitment_btn { margin:10px; text-align:center;}
.recruitment_btn input{ background:url(file:///E|/images/cms_style_2012_new/recruitment_btn.jpg) no-repeat; width:144px; height:45px;  border: none;}

/**公司简介**/
.company_info_gmae{ background:#fff;border-left:solid 1px #d3d3d3;border-right:solid 1px #d3d3d3; }
.company_info_gmae li{padding:0px 10px 0px 20px; height:37px; line-height:37px; background:#fff; border-bottom:solid 1px #d3d3d3; color:#6C6C6C;}
.company_info_gmae li a{ color:#555555;}
.company_info_gmae li .number_red,.company_info_gmae li .number_blue{ margin-right:10px;}
.company_txt{border:1px solid #D3D3D3; border-top:none; padding:10px;}




.dialog_9377 { position: absolute; border: 5px solid #8CB8EA; background-color: #ffffff; width: 400px; height: 200px; }
.dialog_9377 .title_bar { padding: 5px; background-color: #f1f7fd; cursor: move; }
.dialog_9377 .title { color:#3A7494;}
.dialog_9377 .close { float: right; cursor: pointer; width: 18px; height: 18px; background: url(file:///E|/images/dialog_close.gif) no-repeat 0px -18px; }
.dialog_9377 .close  span{ display: none; }
.dialog_9377 .content_container { width: 100%; }
.dialog_9377 .content { padding: 5px; }
.dialog_9377 .button_bar { clear: left; }


.ajaxing { position: absolute;  background: #EFEFEF url(file:///E|/images/ajaxing.gif) no-repeat 2px 2px; padding: 35px 20px 30px 100px; border: 1px solid #AAAAAA; font-weight: bold; }
